@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #f5f5f5;
}
/* Global Style  */
.btn{
background-color: #006A50;
padding: 17px 34px;
font-family: "Fira Sans", serif;
font-size: 18px;
font-weight: 600;
font-style: normal;
border-radius: 8px;
border: none;
color: #fff;
transition: All 0.6s;
}

.btn:hover{
    background-color: #fff;
    padding: 17px 34px;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    font-style: normal;
    border-radius: 8px;
    border: 1px solid #006A50;
    cursor: pointer;
    }


.primary-text{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.paragraph-text{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #3E3E3E;
    margin-bottom: 32px;
}

.news.container {
    margin-top: 48px;
} 

.blog-heading{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    color: #0E0E0E;
    margin-bottom: 24px;
}


.container{
    width: 1280px;
    padding: 0px 0px;
    margin: 0px auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 24px 0px;
}


.header-content h1{
    font-display: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
}

.header-content button{
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: auto;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    background-color: #fff;
    
}


.header-content button:hover{
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: auto;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    background-color: #006A50;
    cursor: pointer;
    transition: all 0.5s;
}

/* THIS IS THE SECTION OF HERO  */

.hero{
    background-color: #C6E4D6;
    border-radius: 24px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 0px 59.99px ;
    
}

.heading-one{
    width: 622px;
}

.heading-one h3{
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #0e0e0e94;
    margin-bottom: 16px;
}

.heading-one h1{
    font-family: "Fira Sans", serif;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    color: #0E0E0E;
    margin-bottom: 24px;
}



.testimonial-content{
    padding: 48px 24px 36px 24px;
    background: url(../images/quote-bg.png), #ffff;
    background-position: 24px 29.57px;
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 10PX;
    border: 1px solid #e6e6e6;
    margin-bottom: 32px;
  
}

.testimonial-text{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #3E3E3E;
    margin-bottom: 12px;
}

.testimonial-content h3{
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: rgba(14, 14, 14, 0.8); 
}

.icon-box{
    margin: 80px auto 50px auto;

}
.icon-box-main{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.icon-box-main .icon-box-first{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
    width: 410px;
    height: au;
   
}

.icon-box-main .icon-box-first:hover{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;
    width: 410px;
    height: auto;
    transition: All 0.3s;
}


.icon-box-first h3{
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #36383C;
    margin: 24px 0px 12px 0px;
}

.icon-box-first p{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4A4D53;
    width: 346px;
    margin-bottom: 24px;
} 

.icon-box-first button{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 11px 20px;
    border-radius: 8PX;
    border: none;
    background-color: #5490F5;
    cursor: pointer;
} 

.icon-box-main .icon-box-first:hover button{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 11px 20px;
    border-radius: 8PX;
    border: none;
    background-color: #09A15C;
    cursor: pointer; 
    transition: All 0.3s;
}



/* This is icon box second  */


.icon-box-main .icon-box-second{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;
    width: 410px;
    height: auto;
   
}

.icon-box-main .icon-box-second:hover{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
    width: 410px;
    height: auto;
    transition: All 0.3s;
}


.icon-box-second h3{
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #36383C;
    margin: 24px 0px 12px 0px;
}

.icon-box-second p{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4A4D53;
    width: 346px;
    margin-bottom: 48px;
} 

.icon-box-second button{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 11px 20px;
    border-radius: 8PX;
    border: none;
    background-color: #09A15C;
    cursor: pointer;
} 

.icon-box-main .icon-box-second:hover button{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 11px 20px;
    border-radius: 8PX;
    border: none;
    background-color: #5490F5;
    cursor: pointer; 
    transition: All 0.3s;
}



/* This is design of icon box three */


.icon-box-main .icon-box-third{
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
    width: 410px;
    height: auto;
   
}

.icon-box-main .icon-box-third:hover{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
    width: 410px;
    height: auto;
    transition: All 0.3s;
}


.icon-box-third h3{
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #36383C;
    margin: 24px 0px 12px 0px;
}

.icon-box-third p{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4A4D53;
    width: 346px;
    margin-bottom: 24px;
} 

.icon-box-third button{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 11px 20px;
    border-radius: 8PX;
    border: none;
    background-color: #FFC239;
    cursor: pointer;
} 

.icon-box-main .icon-box-third:hover button{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 11px 20px;
    border-radius: 8PX;
    border: none;
    background-color: #5490F5;
    cursor: pointer; 
    transition: All 0.3s;
}


/* THIS IS RECENT NEWS SECTION  */


.news-content{

  display: flex;
  flex-direction: column;  
  gap: 24px;
  margin-bottom: 40px;

}

.news-image img{
border-radius: 24px;
}

.news-main-content img {
    display: inherit;
    margin-bottom: 12px;
}

.news-content-one{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
}



.donation-text{
    text-align: center;

}
.donation{
    padding-top: 40px;
    margin: auto;
}

.donation-content{
width: 75%;
margin: auto;

}

.donation-amount h1{
    padding: 40px;
    background-color: #ffff;
    color: #000;
    border-radius: 16px;
    border: 1px solid #A6CAE4;

}

.donation-amount{
    display: flex;
    justify-content: center;
    gap: 24px;

}

.donation-amount .active{
    background-color: #C6E4D6;
}

.donation-amount h1:hover{
    background-color: #C6E4D6;

}

.custom-amount input{
    width: 1000px;
    padding: 20px 30px;
    text-align: center;
    border: none!important;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    
}

.custom-amount input[type="text"] {
    border-radius: 10px;
}

input.btn {
    width: 151px;
    
}

.custom-amount{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.news-latter-container{
    background-color: #C6E4D6;
    padding: 80px;
    margin-top: 80px;
    border-radius: 24px;
    margin-bottom: 30px;
}

.news-latter {
    width: 620px;
    margin: auto;
}

input[type="text"] {
    padding: 18px 40px;
    width: 750px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    color: #0E0E0E;
    font-family: 'Fira Sans';
    font-size: 16px;
}

.news-latter-form {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.btn-news{
    background-color: #006A50;
    padding: 17px 34px;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    border-radius: 0px 8px 8px 0px;
    border: none;
    color: #fff;
    transition: All 0.6s;
    cursor: pointer;
}

/* hello */
